# === 1. Android & Gradle 编译缓存 ===
.gradle/
build/
**/build/
.cxx/
**/objs/
**/.cxx/
local.properties
.idea/
*.iml
*.apk

# === 2. C/C++ CMake 编译临时文件 ===
app/build/
**/CMakeCache.txt
**/CMakeFiles/
**/Makefile
**/cmake_install.cmake

# === 3. 系统与 IDE 临时文件 ===
.DS_Store
Thumbs.db
.vscode/android_app/app/gst-android-build/
*.so
android_app/app/jni/ncnn-20260113-android-vulkan/
android_app/app/jni/opencv-mobile-4.13.0-android/
